*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, sans-serif;
}

#contenedor{
  width: 95%;
  margin: auto;
  background-color: #000000;
}

header{
  background-color: #252525;
  padding: 15px 0;
  text-align: center;
}

nav a{
  color: #00ff00;
  background-color: transparent;
  border: 2px solid #00ff00;
  border-radius: 0;
  text-decoration: none;
  padding: 8px 16px;
  margin: 0 5px;
  display: inline-block;
  transition: all 0.5s;
}

nav a:hover{
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: #00ff00;
  color: #000000;
}

#graficos{
  width: 70%;
  display: inline-block;
  vertical-align: top;
  background-color: #0d0d0d;
  color: #ffffff;
  height: 400px;
  box-sizing: border-box;
  padding: 15px;
}

#alertas{
  width: 25%;
  display: inline-block;
  vertical-align: top;
  background-color: #330000;
  color: #ffffff;
  height: 400px;
  box-sizing: border-box;
  padding: 15px;
}
